<% provide(:title, "Contact") %>
<h1>Sample App</h1>
<p>
    You can find me on 
    <a href="https://www.linkedin.com/in/linus-torwald-74924a201?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAADN4s6kBvQRyFKIPTlKGtUTY6M4l8P9cKKE&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BFpvxvpqEQhKrGFOAHiiigA%3D%3D">linkedin</a>.
</p>
